body,
html, .App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App .header {
  position        : relative;
  top             : 0;
  width           : 100%;
  height          : 70px;
  background-color: #212529;
  display         : flex;
  align-items     : center;
}

.App .header .brand-logo {
  margin-left: 25px;
}

.App .header .brand-logo svg {
  width : 200px;
  height: 60px;
}

.App .content {
  display: flex;
}

.App .content .col {
  width         : 50%;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.App .content .col .title {
  font-size  : 28px;
  font-weight: 500;
  padding    : 30px;
}